plugin
./old/database.lua
./old/snippets/typescript/generated.json
./old/telescope
old/database.lua
old/snippets/typescript/generated.json
old/telescope
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
